<!-- Services-->
<section>
    <img  src="../assets/images/java.png" alt="First slide" style="width: 100%; height: 100%;">
    <div class="container">
        <h2>BE A JAVA DEVELOPER</h2>
        <p class="text-muted mb-5">Learn java development in 2 months :)</p>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-heart"></use>
                </svg>
                <h6>Tempor aute occaecat</h6>
                <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-inbox"></use>
                </svg>
                <h6>Tempor aute occaecat</h6>
                <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                    <svg class="lnr text-primary services-icon">
                        <use xlink:href="#lnr-rocket"></use>
                    </svg>
                    <h6>Tempor aute occaecat</h6>
                    <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
            </div>
  </div>
  <div class="row">
        <div class="col-sm-6 col-lg-4 mb-3">
            <svg class="lnr text-primary services-icon">
                <use xlink:href="#lnr-inbox"></use>
            </svg>
            <h6>Tempor aute occaecat</h6>
            <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3">
            <svg class="lnr text-primary services-icon">
                <use xlink:href="#lnr-rocket"></use>
            </svg>
            <h6>Tempor aute occaecat</h6>
            <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                    <use xlink:href="#lnr-heart"></use>
                </svg>
                <h6>Tempor aute occaecat</h6>
                <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
        </div>
</div>
</div>
</section>