<!-- Gallery -->
<div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="./assets/images/gal1.png"
            class="w-100 shadow-1-strong rounded mb-4" height="200px" width="200px"
            alt="Boat on Calm Water"
          />
                <p style="text-align: center;">Do Your Work With All Dedication</p>
          <img
            src="./assets/images/gal2.png"
            class="w-100 shadow-1-strong rounded mb-4" height="200px" width="200px"
            alt="Wintry Mountain Landscape"
          />
                <p style="text-align: center;">Team Work Always Matters</p>
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="../assets/images/gal3.png"
            class="w-100 shadow-1-strong rounded mb-4" height="200px" width="200px"
            alt="Mountains in the Clouds"
          />
          <p style="text-align: center;">Trust Yourself , Be Confident </p>
          <img
            src="./assets/images/gal4.png"
            class="w-100 shadow-1-strong rounded mb-4" height="200px" width="200px"
            alt="Boat on Calm Water"
          />
            <p style="text-align: center;">Do Hardwork Achieve Everything</p>
        </div>
      
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="./assets/images/gal5.png"
            class="w-100 shadow-1-strong rounded mb-4" height="200px" width="200px"
            alt="Waves at Sea"
          />
            <p style="text-align: center;">Speak Less Listen More</p>
          <img
            src="./assets/images/home4.png"
            class="w-100 shadow-1-strong rounded mb-4" height="200px" width="200px"
            alt="Yosemite National Park"
          />
            <p style="text-align: center;">Do Work With All Your Focus</p>
        </div>
      </div>
      <!-- Gallery -->