<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="home" >Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="registration" style="color: black;">Registration</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;"> Courses
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="mean">MEAN </a>
            <a class="dropdown-item" routerLink="mern">MERN </a>
            <a class="dropdown-item" routerLink="java">JAVA</a>
            <a class="dropdown-item" routerLink="javascript">Java Script </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gallery" style="color: black;">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" style="color: black;">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="restuser" style="color: black;">Rest-User</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>