<div class="container">
    <div class="row">
      <div class="col">
        <img src="../assets/images/home5.png"
        alt="Sample photo" class="img-fluid"
        style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
      </div>
      <div class="col">
        <img src="../assets/images/home4.png"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
      </div>
      <div class="col">
        <img src="../assets/images/home7.png"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
      </div>
    </div>
  </div>